.b {


    height: 100vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    position: relative;
}



#myDIV2{



}


.container {
    background-color: white;

}


.firstLava {

  
    animation: firstLava;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    /* z-index: -4
    */

}
/* Bottom- Left Lava*/

@keyframes firstLava {

    from {
        transform: translate(-0px, -0%);

        z-index: -9
    }
    to {
        transform: translate(-1900px, -40%);
        z-index: -9

    }
}


.secoundLava {
animation: secoundLava;
animation-duration: 4s;
animation-fill-mode: forwards;


}

@keyframes secoundLava{
    from{    
         transform: translate(0px, 0%);
    
        }

    to{   
         transform: translate(-2000px, 40%);
     
        }
}



/* Right Bottom lava */
.thirdLava {
    animation: thirdLava;
    animation-duration: 4s;
    

}


@keyframes thirdLava {

    from {
        transform: translate(0vh, -0%)
    }
    to {
        transform: translate(2000px, 50%);
    }
}


/* Right Top Lava */
.fourthLava {
    animation: leadingLava;
    animation-duration: 4s;


}

@keyframes leadingLava {

    from {
        transform: translate(0vh, -0%)
    }
    to {
        transform: translate(83vh, -50%);
    }
}
